.main-nav {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  min-height: 20px;
  /* background: -webkit-linear-gradient(left, #4967f9, #ad392d);
  background: -moz-linear-gradient(left, #4967f9, #ad392d);
  background: linear-gradient(to right, #4967f9, #ad392d); */
  background-color: #000000f0;
  color: #fff;
  border-bottom: 1px solid #bbbbbb;
}
.navbar-buttons svg {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.nav-links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}
.nav-links svg {
  height: 24px;
  width: 24px;
  padding: 10px;
  margin: 5px 10px;
  color: #ffffff;
  /* border: 1px solid #ffffff; */
  border-radius: 12px;
}
.sub-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px 150px;
  margin: 0;
  border-radius: 0px;
  margin-bottom: 10px;
  /* background: -webkit-linear-gradient(left, #4967f9, #ad392d);
  background: -moz-linear-gradient(left, #4967f9, #ad392d);
  background: linear-gradient(to right, #4967f9, #ad392d); */
  background-color: #000000f0;
  color: #fff;
}
.navbar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: max-content;
  min-height: 25px;
  padding: 5px 35px;
  color: #bbbbbb;
}
.logo {
  width: 200px;
  object-fit: cover;
  height: 45px;
  margin: 0px 10px;
}
.nav-link {
  height: 25%;
  width: 20%;
  padding: 4px 15px;
  background-color: #ffe3d8;
  border: 1px solid #fff;
  border-radius: 25px;
  margin: 0px 25px;
}
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_text {
  font-size: 64px;
  line-height: 1.04167;
  font-weight: 700;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: #000000f0;
  /* background: radial-gradient(#ad392d, #4967f9); */
  /* background-size: 100% 200%;
  background-position: 50% 100%; */
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  transform: translateY(50px);
  opacity: 1;
}
button {
  all: unset;
  --b: 3px;
  --s: 0.15em;
  --c: #000000f0;
  padding: calc(0.05em + var(--s)) calc(0.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--c) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.2em;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  margin: 0.1em;
  text-align: center;
  padding: 20px 30px;
  max-width: 25%;
  margin-top: 30px;
}
button:hover,
button:focus-visible {
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: 0.05em;
}
button:active {
  background: var(--c);
  color: #fff;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #000000f0;
  outline: 0;
  font-size: 1.3rem;
  color: #000000f0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  text-align: center;
  color: #000000f0;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000f0;
}

.trending-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
  margin-top: 20px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 6px;
}
.trendingBlock {
  background-color: #ffffff;
  max-width: 310px;
  height: 100%;
  text-align: center;
  padding: 20px;
}
.image-box {
  width: 100%;
  height: 100%;
}
.product_image {
  width: 100%;
  max-height: 320px;
  object-fit: cover;
  border-radius: 3px;
}
.single-product {
  min-height: 100vh;
  width: 100%;
}

.footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer * {
  text-decoration: none;
}

.inner-footer {
  width: 75%;
  display: flex;
}

.footer-seperator {
  height: 1px;
  background-color: #000000f0;
  width: 70%;
  margin-top: 6.5rem;
  margin-bottom: 1.5rem;
}

.footer-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50px;
  /* background: -webkit-linear-gradient(left, #4967f9, #ad392d);
  background: -moz-linear-gradient(left, #4967f9, #ad392d);
  background: linear-gradient(to right, #4967f9, #ad392d); */
  background-color: #000000fa;
  border-radius: 50%;
  z-index: 1;
}

.footer-link {
  padding: 5px 0px;
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  transition: all 0.3s ease;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 60px 20px;
}

.after-links {
  display: flex;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}

.after-links a {
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  transition: all 0.3s ease;
}

.after-links-2 img {
  width: 36px;
  height: 36px;
  display: inline;
  margin-left: 10px;
}

.footer-links a:hover,
.after-links a:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.after-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-bottom: 8px;
}

.banner-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-heading {
  color: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-stamp {
  max-width: 80px;
  max-height: 80px;
}

.copyright {
  width: 75%;
  position: relative;
  float: right;
  text-align: end;
  padding-top: 1.5rem;
  margin-bottom: 6.25rem;
  font-size: 0.8rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
}
.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.single-design-tshirt {
  width: 100%;
  display: flex;
  align-items:flex-start;
  justify-content: center;
}

.design-page-container {
  width: 100%;
  display: flex;
  min-height: 50vh;
}

.fixed-tshirt-image {
  width: 25%;
  margin: 20px 200px;
  height: auto;
  margin-bottom: 3.5rem;
}

.product-info {
  width: 50%;
  padding: 0px 1.5rem;
  padding-right: 6rem;
}

.design-heading {
  font-family: sans-serif;
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 700;
}

.design-sub-heading {
  color: grey;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-family: sans-serif;
}

.select-color-heading {
  color: #444a57;
  margin: 0;
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-family: sans-serif;
}

.color-input-box {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
}

.outer-colors {
  border: 2px solid white;
  position: relative;
  box-sizing: border-box;
}

.color-input {
  width: 32px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 32px;
  margin: 2px;
  position: relative;
  display: block;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: black;
}

.outer-colors:hover {
  border: 2px solid #27a6ff;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
}

.design-arrow {
  width: 32px;
  height: 32px;
}
.design-button {
  color: #ffffff;
  border: 2px solid #27a6ff;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 3rem;
  font-size: 1.25rem;
  transition: 0.25s ease;
  font-family: sans-serif;
  line-height: 30px;
  border-radius: 999px;
  text-transform: uppercase;
  background-color: #27a6ff;
  border-color: #27a6ff;
  text-decoration-thickness: initial;
  width: max-content;
  height: max-content;
}

.design-button-2 {
  margin-top: 10px;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.design-button:hover {
  border-color: rgb(36, 153, 235);
  background-color: rgb(36, 153, 235);
}

.design-page-button {
  margin: 1.5rem 0;
}

.design-page-description {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
  max-width: 750px;
}

.custom-dropdown {
  height: 90px;
  z-index: 2;
  position: relative;
  margin-bottom: 1.5rem;
  max-width: 28em;
}

.each-select {
  display: flex;
  border: solid;
  cursor: pointer;
  height: 90px;
  opacity: 1;
  list-style: none;
  transition: all 0.25s ease;
  border-color: #ebeef7;
  background-color: #f7fbff;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.dropdown-image {
  height: 60px;
  margin-top: 15px;
}

.name-select {
  font-size: 1.35rem;
  font-weight: 600;
}

.select-feature {
  color: #27a6ff;
  font-size: 1.25rem;
  font-weight: 700;
}

.dropdown {
  height: 100%;
  width: 100%;
  padding: 25px;
}

.design-page-category-heading {
  margin-bottom: 1.5rem;
}
.border-button {
  color: #27a6ff;
  border: 2px solid #27a6ff;
  margin: 0 auto 3rem;
  display: block;
  padding: 0.5rem 1.5rem 0.5rem;
  position: relative;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.5;
  user-select: none;
  border-radius: 999px;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  background-color: #ffffff;
}

.border-button:hover {
  color: #ffffff;
  border-color: #27a6ff;
  background-color: #27a6ff;
}

.copyright-text {
  font-size: 24px;
  line-height: 1.04167;
  font-weight: 700;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #000000f0;
  /* background: radial-gradient(#ad392d, #4967f9); */
  /* background-size: 100% 200%;
  background-position: 50% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-top: 16px;
  padding-bottom: 12px;
  transform: translateY(50px);
  opacity: 1;
}

.main-logo{
  width: 300px;
}

@media screen and (max-width: 999px) {
  .navbar{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
  }
  .nav-links{
    display: none;
  }
  .sub-navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }
  .navbar-buttons{
    font-size: 12px;
    padding: 0;
    min-width: 100px;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
  }
  .navbar-buttons p{
    margin: 5px 0 0 0;
  }
  .banner_text{
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
  }
  .main-logo{
    width: 210px;
  }
}